################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/CTVoicer/.vs/CTVoicer/v16/Server/sqlite3/db.lock
